.my-orders{
    margin-bottom: 100px;
}
.my-orders h1{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.my-orders .order-img{
    width: 100px;
}

.my-orders .row{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom:1px solid #ddd;

}