body {
  font-family: sans-serif;
}
.container {
  margin-left: 5%;
  margin-right: 5%;
}
.common-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}
.form-input {
  height: 35px;
  margin-bottom: 20px;
  border: 1px solid blueviolet;
  padding-left: 15px;
  color: blueviolet;
}
.form-button {
  height: 35px;
  border: 1px solid blueviolet;
  color: blueviolet;
  cursor: pointer;
}
