<div class="row search-item">
    <div class="col-sm-3">
        <img src="https://cdn.shopify.com/s/files/1/0011/8367/8476/products/Truck2_1400x.png?v=1662789388" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product Name</h6>
        <p><b>Price:10000</b></p>
        <p><span>Color:Red</span><span>Category: Mobile</span></p>
        <p>A Search Page Static UI</p>
    </div>
</div>
<div class="row search-item">
    <div class="col-sm-3">
        <img src="https://cdn.shopify.com/s/files/1/0011/8367/8476/products/Truck2_1400x.png?v=1662789388" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product Name</h6>
        <p><b>Price:10000</b></p>
        <p><span>Color:Red</span><span>Category: Mobile</span></p>
        <p>A Search Page Static UI</p>
    </div>
</div><div class="row search-item">
    <div class="col-sm-3">
        <img src="https://cdn.shopify.com/s/files/1/0011/8367/8476/products/Truck2_1400x.png?v=1662789388" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product Name</h6>
        <p><b>Price:10000</b></p>
        <p><span>Color:Red</span><span>Category: Mobile</span></p>
        <p>A Search Page Static UI</p>
    </div>
</div><div class="row search-item">
    <div class="col-sm-3">
        <img src="https://cdn.shopify.com/s/files/1/0011/8367/8476/products/Truck2_1400x.png?v=1662789388" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product Name</h6>
        <p><b>Price:10000</b></p>
        <p><span>Color:Red</span><span>Category: Mobile</span></p>
        <p>A Search Page Static UI</p>
    </div>
</div><div class="row search-item">
    <div class="col-sm-3">
        <img src="https://cdn.shopify.com/s/files/1/0011/8367/8476/products/Truck2_1400x.png?v=1662789388" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product Name</h6>
        <p><b>Price:10000</b></p>
        <p><span>Color:Red</span><span>Category: Mobile</span></p>
        <p>A Search Page Static UI</p>
    </div>
</div><div class="row search-item">
    <div class="col-sm-3">
        <img src="https://cdn.shopify.com/s/files/1/0011/8367/8476/products/Truck2_1400x.png?v=1662789388" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product Name</h6>
        <p><b>Price:10000</b></p>
        <p><span>Color:Red</span><span>Category: Mobile</span></p>
        <p>A Search Page Static UI</p>
    </div>
</div>