<ngb-carousel *ngIf="popularProducts">
    <ng-template  *ngFor="let item of popularProducts" ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="product-header-image" src="{{item.image}}" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>{{item.name}}</h3>
        <p>{{item.description}}</p>
      </div>
    </ng-template>
  </ngb-carousel>
<div class="product-list-wrapper">
<h1>Trendy Products</h1>
<div class="row">
  <div class="col-sm-3">
    <div class="product-item">
      <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSOO1JDPUNwcPiqzHYhaL_zpJA0Ymlr6mD9sSgTPad_JYdrk-o" alt="">
    <div class="product-details">
      <h6 class="name-head">New Apple Product</h6>
      <div class="product-price">
        <h6>Price:100000</h6>
      </div>
      <div class="product-color">
        <h6>Color:Red</h6>
      </div>
    </div>
    <div class="product-footer">
      <a href="">View Details</a>
      <a href="">Add to Cart</a>

    </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="product-item">
      <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSOO1JDPUNwcPiqzHYhaL_zpJA0Ymlr6mD9sSgTPad_JYdrk-o" alt="">
    <div class="product-details">
      <h6 class="name-head">New Apple Product</h6>
      <div class="product-price">
        <h6>Price:100000</h6>
      </div>
      <div class="product-color">
        <h6>Color:Red</h6>
      </div>
    </div>
    <div class="product-footer">
      <a href="">View Details</a>
      <a href="">Add to Cart</a>

    </div>
    </div>
  </div>  <div class="col-sm-3">
    <div class="product-item">
      <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSOO1JDPUNwcPiqzHYhaL_zpJA0Ymlr6mD9sSgTPad_JYdrk-o" alt="">
    <div class="product-details">
      <h6 class="name-head">New Apple Product</h6>
      <div class="product-price">
        <h6>Price:100000</h6>
      </div>
      <div class="product-color">
        <h6>Color:Red</h6>
      </div>
    </div>
    <div class="product-footer">
      <a href="">View Details</a>
      <a href="">Add to Cart</a>

    </div>
    </div>
  </div>  <div class="col-sm-3">
    <div class="product-item">
      <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSOO1JDPUNwcPiqzHYhaL_zpJA0Ymlr6mD9sSgTPad_JYdrk-o" alt="">
    <div class="product-details">
      <h6 class="name-head">New Apple Product</h6>
      <div class="product-price">
        <h6>Price:100000</h6>
      </div>
      <div class="product-color">
        <h6>Color:Red</h6>
      </div>
    </div>
    <div class="product-footer">
      <a href="">View Details</a>
      <a href="">Add to Cart</a>

    </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="product-item">
      <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSOO1JDPUNwcPiqzHYhaL_zpJA0Ymlr6mD9sSgTPad_JYdrk-o" alt="">
    <div class="product-details">
      <h6 class="name-head">New Apple Product</h6>
      <div class="product-price">
        <h6>Price:100000</h6>
      </div>
      <div class="product-color">
        <h6>Color:Red</h6>
      </div>
    </div>
    <div class="product-footer">
      <a href="">View Details</a>
      <a href="">Add to Cart</a>

    </div>
    </div>
  </div>
</div>
</div>

  
  