<ngb-carousel *ngIf="popularProducts">
    <ng-template  *ngFor="let item of popularProducts" ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="product-header-image" src="{{item.image}}" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>{{item.name}}</h3>
        <p>{{item.description}}</p>
      </div>
    </ng-template>
  </ngb-carousel>

  <div class="product-list">
  <h1>Major Product</h1>  
  <div class="col-sm3">
    <div class="product-item">

    </div>
  </div>
  </div>
  
  